@(title: String)(content: Html)

<!DOCTYPE html>

<html ng-app="mainApp">
    <head>
        <title>@title</title>
        <!--
            Boxer Template
            http://www.templatemo.com/preview/templatemo_446_boxer
        -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="">
        <meta name="description" content="">



        <!-- animate css -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <!-- bootstrap css -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <!-- font-awesome -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome-4.4.0/css/font-awesome.css")">
        <!-- Animate -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/animate.min.css")">
        <!-- google font -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css'>
        <!-- custom css -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/templatemo-style.css")">


    </head>
    <body>
        @content
    </body>
</html>
