<div id="book-header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#book-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Books</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="book-navbar">
                <button id="create-book" class="btn btn-default navbar-btn" ng-hide="ctrl.editMode" ng-click="ctrl.createRecord()"><span class="glyphicon glyphicon-plus"></span> Create</button>
                <button id="refresh-book" class="btn btn-default navbar-btn" ng-hide="ctrl.editMode" ng-click="ctrl.fetchRecords()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
                <button id="save-book" type="submit" form="book-form" class="btn btn-default navbar-btn" ng-show="ctrl.editMode"><span class="glyphicon glyphicon-save"></span> Save</button>
                <button id="cancel-book" type="button" form="book-form" class="btn btn-default navbar-btn" ng-show="ctrl.editMode" ng-click="form.$setPristine(); ctrl.fetchRecords();"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
            </div>
        </div>
    </nav>
</div>
<div ng-hide="ctrl.editMode">
    <div class="col-sm-12">
        <div ng-repeat="record in records">
            <div class="col-md-4 col-sm-6 col-lg-3 well">
                <div class="col-md-12">
                    <div class="img-thumbnail" id="image" ng-if="record.image">
                        <a ng-href="{{record.image}}" target="_blank"><img class="img-responsive" style="height: 20vmax;" ng-src="{{record.image}}" alt="{{record.image}}"></a>
                    </div>
                </div>
                <div class="caption" >
                    <p><strong>Name:</strong> {{record.name}}</p>
                    <p><strong>Description:</strong> {{record.description}}</p>
                    <p><strong>ISBN:</strong> {{record.isbn}}</p>
                </div>
                <p class="text-center">
                    <button id="{{$parent.$index}}-edit-btn" class="btn btn-default btn-sm" ng-click="ctrl.editRecord(record)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                    <button id="{{$parent.$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(record)"><span class="glyphicon glyphicon-minus"></span> Remove</button>
                </p>
            </div>
        </div>
    </div>
</div>
<div ng-show="ctrl.editMode" class="well">
    <form novalidate name="form" id="book-form" role="form" ng-submit="form.$valid && ctrl.saveRecord()">
        <fieldset>
            <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>
            <div class="form-group col-md-12" ng-class="{'has-success': form.name.$valid && form.name.$dirty, 'has-error': form.name.$invalid && (form.name.$dirty || form.$submitted)}" >
                <label for="name" class="col-md-2 control-label">Name</label>
                <div class="col-md-10">
                    <input id="name" name="name" class="form-control" type="text" ng-model="currentRecord.name" required />
                </div>
            </div>
            <div class="form-group col-md-12" ng-class="{'has-success': form.description.$valid && form.description.$dirty, 'has-error': form.description.$invalid && (form.description.$dirty || form.$submitted)}" >
                <label for="description" class="col-md-2 control-label">Description</label>
                <div class="col-md-10">
                    <input id="description" name="description" class="form-control" type="text" ng-model="currentRecord.description" required />
                </div>
            </div>
            <div class="form-group col-md-12" ng-class="{'has-success': form.isbn.$valid && form.isbn.$dirty, 'has-error': form.isbn.$invalid && (form.isbn.$dirty || form.$submitted)}" >
                <label for="isbn" class="col-md-2 control-label">ISBN</label>
                <div class="col-md-10">
                    <input id="isbn" name="isbn" class="form-control" type="text" ng-model="currentRecord.isbn" required />
                </div>
            </div>
            
            <div class="form-group col-md-12" ng-class="{'has-success': form.image.$valid && form.image.$dirty, 'has-error': form.image.$invalid && (form.image.$dirty || form.$submitted)}" >
                <label for="image" class="col-md-2 control-label">Image</label>
                <div class="col-md-10">
                    <input id="image" name="image" class="form-control" type="text" ng-model="currentRecord.image" required />
                </div>
            </div>
        </fieldset>
    </form>
</div>