<!-- start home -->
<div>ng-view</div>

<section id="home">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 wow fadeIn" data-wow-delay="0.3s">
                    <h1 class="text-upper">Sistema central de transporte</h1>
                    <p class="tm-white">Bienvenido al sistema central de transporte TBC. En este lugar usted podrá agendar sus pedidos de movivus</p>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Nombre" name="email" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Dirección" name="password" type="text" value="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Fecha" name="email" type="date" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Discapacidad" name="text" type="password" value="">
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <div class="btn-group">
                                    <a href="index.html" class="btn btn-lg btn-success">Solicitar</a>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <img src="@routes.Assets.at("images/fondo transparente.png")" height="72" width="72"/>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->