<!-- start navigation -->
<nav class="navbar navbar-default navbar-fixed-top templatemo-nav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Sistema TBC</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right text-uppercase">
                <li>
                    <a href="#home">Home</a>
                </li>
                <li ng-class="{active:adminToolbar.isSelected(1)}">
                    <a href="#Tranvia" ng-click="adminToolbar.selectTab(1)">Tranvia</a>
                </li>
                <li ng-class="{active:adminToolbar.isSelected(2)}">
                    <a href="#Vcubs" ng-click="adminToolbar.selectTab(2)">Vcubs</a>
                </li>
                <li ng-class="{active:adminToolbar.isSelected(3)}">
                    <a href="#Movibus" ng-click="adminToolbar.selectTab(3)">Movibus</a>
                </li>
                <li ng-class="{active:adminToolbar.isSelected(4)}">
                    <a href="#Estadisticas" ng-click="adminToolbar.selectTab(4)">Estadísticas</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
